language: node_js
node_js:
  - 4
  - 5
  - 6

install:
  - npm install

script:
  - node --version && npm --version
  - npm test

after_success:
  - [ $TRAVIS_OS_NAME == linux ] && [ $TRAVIS_NODE_VERSION == 4 ] && npm run codeclimate

###

addons:
  code_climate:
    repo_token:
      secure: oBSd83e4ZR44kMVxk5c1RJvHjrkZutT1dEYpvdT6F2VyPpmcpMBfqsScDFplRgr/gUT32exAge0DKgE0+5kiM/k+KY5maHRm8HFpKasHZJJUBl1b1epAqUCM69yto+4pgazKtD4Ow/fDZwuXpZCCRICvXRYWME9k0UCXI9HUIHA=

cache:
  directories:
    - node_modules

git:
  depth: 1

matrix:
  fast_finish: true

os:
  - linux
  - osx

sudo: false
